*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    outline: none;
    border: 1px solid black;
    border-radius: 12px;
    cursor: pointer;
}

body {
    min-height: 100vh;
    padding: 40px;
    background: linear-gradient(to bottom, #ffd95d 90%, white);
    color: #313131;
}

/* font style classes */
.cinzel-decorative-regular {
  font-family: "Cinzel Decorative", serif;
  font-weight: 500;
  font-style: normal;
}

.cinzel-decorative-bold {
  font-family: "Cinzel Decorative", serif;
  font-weight: 700;
  font-style: normal;
}

.cinzel-decorative-black {
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  font-style: normal;
}

.bangers-regular {
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-style: normal;
}
