*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    outline: none;
    border: 1px solid black;
    border-radius: 12px;
    cursor: pointer;
}

body {
    min-height: 100vh;
    padding: 40px;
    background: linear-gradient(to bottom, #ffd95d 90%, white);
    color: #313131;
}